Frameworks/SOAPProjects/IPLocationFinder/TestMart.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://main.javabrains.dhanesh.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductCatalogService" targetNamespace="http://main.javabrains.dhanesh.org/">
<types>
<xsd:schema>
<xsd:import namespace="http://main.javabrains.dhanesh.org/" schemaLocation="http://envy:8080/TestMart/ProductCatalogService?xsd=1"/>
</xsd:schema>
</types>
<message name="getProducts">
<part element="tns:getProducts" name="parameters"/>
</message>
<message name="getProductsResponse">
<part element="tns:getProductsResponse" name="parameters"/>
</message>
<message name="InvalidInputException">
<part element="tns:InvalidInputException" name="fault"/>
</message>
<message name="addProducts">
<part element="tns:addProducts" name="parameters"/>
</message>
<message name="addProductsResponse">
<part element="tns:addProductsResponse" name="parameters"/>
</message>
<message name="fetchProductCategories">
<part element="tns:fetchProductCategories" name="parameters"/>
</message>
<message name="fetchProductCategoriesResponse">
<part element="tns:fetchProductCategoriesResponse" name="parameters"/>
</message>
<portType name="IProductCatalog">
<operation name="getProducts">
<input message="tns:getProducts" wsam:Action="http://main.javabrains.dhanesh.org/IProductCatalog/getProductsRequest"/>
<output message="tns:getProductsResponse" wsam:Action="http://main.javabrains.dhanesh.org/IProductCatalog/getProductsResponse"/>
<fault message="tns:InvalidInputException" name="InvalidInputException" wsam:Action="http://main.javabrains.dhanesh.org/IProductCatalog/getProducts/Fault/InvalidInputException"/>
</operation>
<operation name="addProducts">
<input message="tns:addProducts" wsam:Action="http://main.javabrains.dhanesh.org/IProductCatalog/addProductsRequest"/>
<output message="tns:addProductsResponse" wsam:Action="http://main.javabrains.dhanesh.org/IProductCatalog/addProductsResponse"/>
</operation>
<operation name="fetchProductCategories">
<input message="tns:fetchProductCategories" wsam:Action="fetchPC"/>
<output message="tns:fetchProductCategoriesResponse" wsam:Action="http://main.javabrains.dhanesh.org/IProductCatalog/fetchProductCategoriesResponse"/>
</operation>
</portType>
<binding name="ProductCatalogPortBinding" type="tns:IProductCatalog">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidInputException">
<soap:fault name="InvalidInputException" use="literal"/>
</fault>
</operation>
<operation name="addProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchProductCategories">
<soap:operation soapAction="fetchPC"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductCatalogService">
<port binding="tns:ProductCatalogPortBinding" name="ProductCatalogPort">
<soap:address location="http://envy:8080/TestMart/ProductCatalogService"/>
</port>
</service>
</definitions>
